#heart-container {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
    padding: 10px;
    /*width: calc(50px * 9 + 5px * 8);*/
    border: 2px solid black;
    border-radius: 10px;
}

.heart {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url(heart.png);
    background-size: cover;
    background-position: center;
}